<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Degree" value="1"/>
    <add key="UseAdvancedDisposeMechanism" value="false"/>
    <add key="DynamicPortRangeStart" value="21900" />
    <add key="DynamicPortRangeEnd" value="22000" />
    <add key="ShouldReconnect" value="false"/>
    <add key="EventBusPublisherPort" value="10201"/>
    <add key="EventBusSubscriberPort" value="10202"/>

    <!-- Flags: Affects usage and functionality of new serialization and MessageFrame format logic -->
    <add key="UseNewSerializer" value="false"/>
    <add key="MessagingVersion" value="v1.1"/>
  </appSettings>
</configuration>