<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Logging>

    <!-- Dev Logger -->
    <LoggerInfo Key="Philips.DI.Interfaces.Services.Logging.IDevelopmentLogger, Philips.DI.Interfaces.Services.Logging"
                Value="Philips.IAP.ProxyUtilities.EventLogger, Philips.IAP.ProxyUtilities">
      <Constructor Params="moduleName,nameSpace" />
    </LoggerInfo>

  </Logging>
</configuration>